<div id = "caja-redonda">
    <h2>Lista de precios</h2>
    <table class="table table-striped table-hover">
        <thead id="Header">
          <tr>
            <th>Company ID</th>
            <th>PriceID</th>
            <th>PriceName</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of data">
            <td>{{ model.companyID}}</td>
            <td>{{ model.priceID }}</td>
            <td>{{ model.priceName }}</td>
            <td>{{ model.active }}</td> 
            <td>
                <button class="btn btn-danger" (click)="delete(model)" *ngIf="model.active">Eliminar</button>
                <button class="btn btn-warning" (click)="update(model)" *ngIf="!model.active">Restaurar</button>
            </td>
             
            <td>
                <a class="btn btn-warning"[routerLink]="['/PriceList', model.priceID, 'update']">Actualizar</a>
              </td>
              <td>
                <a class="btn btn-warning"[routerLink]="['/PriceListDetails', model.priceID]">Agregar productos</a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>