<h2>Lista de productos</h2>
<div id = "caja-redonda">

    <table class="table table-striped table-hover">
        <thead id="Header">
          <tr>
            <th>ID</th>
            <th>Nombre del Producto</th>
            <th>Marca</th>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Acciones</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of data">
            <td>{{ product.productID }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.brandID }}</td>
            <td>{{ product.categoryID }}</td> 
            <td>{{ product.active }}</td> 
            <td>
              <button class="btn btn-danger" (click)="eliminarProducto(product)" *ngIf="product.active">Eliminar</button>
              <button class="btn btn-warning" (click)="ActualizarProducto(product)" *ngIf="!product.active">Restaurar</button>
            </td>
            <td>
              <a  class="btn btn-warning" [routerLink]="['/Product', product.productID, 'update']">Actualizar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>