<h2>Agregar Lista de precio</h2>
<div id="FormBox">
<form (submit)="add()">

    <div class="form-group">
      <label for="productName">Nombre de la lista:</label>
      <input type="text" id="productName" [(ngModel)]="model.branchID" name="priceName" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
  </form>  
 </div>

 <div id = "caja-redonda">
    <h2>Lista de precios</h2>
    <table class="table table-striped table-hover">
        <thead id="Header">
          <tr>
            <th>Company ID</th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of model.listModel">
            <td>{{ model.companyID}}</td>
  
   
             
      
          </tr>
        </tbody>
      </table>
    </div>